In [26]:
import pandas as pd     #type: ignore
import numpy as np      #type: ignore
import tensorflow as tf #type: ignore
from tensorflow.keras import Sequential # type: ignore
from tensorflow.keras.layers import Dense, Flatten, MaxPool2D  # type: ignore
from tensorflow.keras.optimizers import Adam # type: ignore

In [27]:
data = pd.read_csv(r"F:\M.Tech_CollgeMaterials\DPL\practice\Ecommerce\dataset\Fast Delivery Agent Reviews.csv")

In [28]:
data.head(5)

,Agent Name,Rating,Review Text,Delivery Time (min),Location,Order Type,Customer Feedback Type,Price Range,Discount Applied,Product Availability,Customer Service Rating,Order Accuracy
0,Zepto,4.5,Purpose boy job cup decision girl now get job ...,58,Delhi,Essentials,Neutral,High,Yes,Out of Stock,4,Incorrect
1,Zepto,2.1,Prevent production able both the box school wa...,25,Lucknow,Grocery,Negative,Low,No,Out of Stock,2,Correct
2,JioMart,4.5,Family station listen agreement more kitchen l...,54,Ahmedabad,Essentials,Neutral,Low,No,Out of Stock,3,Correct
3,JioMart,2.6,World north people area everything enter beyon...,22,Chennai,Essentials,Neutral,Low,Yes,In Stock,1,Incorrect
4,Zepto,3.6,Hand way yourself tax whether sister anyone ef...,34,Pune,Pharmacy,Positive,High,No,In Stock,2,Incorrect

In [29]:
data = data.drop(['Review Text'],axis=1)  # Since Review Text after reading made no sense and neither had any relation with the other given cols.

In [30]:
data.head()

,Agent Name,Rating,Delivery Time (min),Location,Order Type,Customer Feedback Type,Price Range,Discount Applied,Product Availability,Customer Service Rating,Order Accuracy
0,Zepto,4.5,58,Delhi,Essentials,Neutral,High,Yes,Out of Stock,4,Incorrect
1,Zepto,2.1,25,Lucknow,Grocery,Negative,Low,No,Out of Stock,2,Correct
2,JioMart,4.5,54,Ahmedabad,Essentials,Neutral,Low,No,Out of Stock,3,Correct
3,JioMart,2.6,22,Chennai,Essentials,Neutral,Low,Yes,In Stock,1,Incorrect
4,Zepto,3.6,34,Pune,Pharmacy,Positive,High,No,In Stock,2,Incorrect

In [31]:
print(data['Agent Name'].unique())

['Zepto' 'JioMart' 'Blinkit' 'Swiggy Instamart']

In [32]:
data['Agent Name'] = data['Agent Name'].map({
    'Zepto': 1,
    'JioMart': 2,
    'Blinkit': 3,
    'Swiggy Instamart': 4
})

In [33]:
data.head()

,Agent Name,Rating,Delivery Time (min),Location,Order Type,Customer Feedback Type,Price Range,Discount Applied,Product Availability,Customer Service Rating,Order Accuracy
0,1,4.5,58,Delhi,Essentials,Neutral,High,Yes,Out of Stock,4,Incorrect
1,1,2.1,25,Lucknow,Grocery,Negative,Low,No,Out of Stock,2,Correct
2,2,4.5,54,Ahmedabad,Essentials,Neutral,Low,No,Out of Stock,3,Correct
3,2,2.6,22,Chennai,Essentials,Neutral,Low,Yes,In Stock,1,Incorrect
4,1,3.6,34,Pune,Pharmacy,Positive,High,No,In Stock,2,Incorrect