In [115]:
import pandas as pd     #type: ignore
import numpy as np      #type: ignore
import tensorflow as tf #type: ignore
from tensorflow.keras import Sequential # type: ignore
from tensorflow.keras.layers import Dense, Flatten, MaxPool2D  # type: ignore
from tensorflow.keras.optimizers import Adam # type: ignore

In [116]:
data = pd.read_csv(r"F:\M.Tech_CollgeMaterials\DPL\practice\Ecommerce\dataset\Fast Delivery Agent Reviews.csv")

In [117]:
data.head(5)

,Agent Name,Rating,Review Text,Delivery Time (min),Location,Order Type,Customer Feedback Type,Price Range,Discount Applied,Product Availability,Customer Service Rating,Order Accuracy
0,Zepto,4.5,Purpose boy job cup decision girl now get job ...,58,Delhi,Essentials,Neutral,High,Yes,Out of Stock,4,Incorrect
1,Zepto,2.1,Prevent production able both the box school wa...,25,Lucknow,Grocery,Negative,Low,No,Out of Stock,2,Correct
2,JioMart,4.5,Family station listen agreement more kitchen l...,54,Ahmedabad,Essentials,Neutral,Low,No,Out of Stock,3,Correct
3,JioMart,2.6,World north people area everything enter beyon...,22,Chennai,Essentials,Neutral,Low,Yes,In Stock,1,Incorrect
4,Zepto,3.6,Hand way yourself tax whether sister anyone ef...,34,Pune,Pharmacy,Positive,High,No,In Stock,2,Incorrect

In [118]:
data = data.drop(['Review Text'],axis=1)  # Since Review Text after reading made no sense and neither had any relation with the other given cols.

In [119]:
data.head()

,Agent Name,Rating,Delivery Time (min),Location,Order Type,Customer Feedback Type,Price Range,Discount Applied,Product Availability,Customer Service Rating,Order Accuracy
0,Zepto,4.5,58,Delhi,Essentials,Neutral,High,Yes,Out of Stock,4,Incorrect
1,Zepto,2.1,25,Lucknow,Grocery,Negative,Low,No,Out of Stock,2,Correct
2,JioMart,4.5,54,Ahmedabad,Essentials,Neutral,Low,No,Out of Stock,3,Correct
3,JioMart,2.6,22,Chennai,Essentials,Neutral,Low,Yes,In Stock,1,Incorrect
4,Zepto,3.6,34,Pune,Pharmacy,Positive,High,No,In Stock,2,Incorrect

In [120]:
print(data['Agent Name'].unique())

['Zepto' 'JioMart' 'Blinkit' 'Swiggy Instamart']

In [121]:
data['Agent Name'] = data['Agent Name'].map({
    'Zepto': 1,
    'JioMart': 2,
    'Blinkit': 3,
    'Swiggy Instamart': 4
})

In [122]:
data.head()

,Agent Name,Rating,Delivery Time (min),Location,Order Type,Customer Feedback Type,Price Range,Discount Applied,Product Availability,Customer Service Rating,Order Accuracy
0,1,4.5,58,Delhi,Essentials,Neutral,High,Yes,Out of Stock,4,Incorrect
1,1,2.1,25,Lucknow,Grocery,Negative,Low,No,Out of Stock,2,Correct
2,2,4.5,54,Ahmedabad,Essentials,Neutral,Low,No,Out of Stock,3,Correct
3,2,2.6,22,Chennai,Essentials,Neutral,Low,Yes,In Stock,1,Incorrect
4,1,3.6,34,Pune,Pharmacy,Positive,High,No,In Stock,2,Incorrect

In [123]:
data.dtypes

Agent Name                   int64
Rating                     float64
Delivery Time (min)          int64
Location                    object
Order Type                  object
Customer Feedback Type      object
Price Range                 object
Discount Applied            object
Product Availability        object
Customer Service Rating      int64
Order Accuracy              object
dtype: object

In [124]:
data.isnull().sum()

Agent Name                 0
Rating                     0
Delivery Time (min)        0
Location                   0
Order Type                 0
Customer Feedback Type     0
Price Range                0
Discount Applied           0
Product Availability       0
Customer Service Rating    0
Order Accuracy             0
dtype: int64

In [125]:
print(data['Order Type'].unique())

['Essentials' 'Grocery' 'Pharmacy' 'Electronics' 'Food']

In [126]:
print(data['Location'].unique())

['Delhi' 'Lucknow' 'Ahmedabad' 'Chennai' 'Pune' 'Jaipur' 'Mumbai'
 'Kolkata' 'Hyderabad' 'Bangalore']

In [127]:
# Using one hot encoding for encoding the non-numerical data in the columns
data = pd.get_dummies(data, columns=['Location'])
data = pd.get_dummies(data, columns=['Order Type'])

In [128]:
data.head()

,Agent Name,Rating,Delivery Time (min),Customer Feedback Type,Price Range,Discount Applied,Product Availability,Customer Service Rating,Order Accuracy,Location_Ahmedabad,...,Location_Jaipur,Location_Kolkata,Location_Lucknow,Location_Mumbai,Location_Pune,Order Type_Electronics,Order Type_Essentials,Order Type_Food,Order Type_Grocery,Order Type_Pharmacy
0,1,4.5,58,Neutral,High,Yes,Out of Stock,4,Incorrect,False,...,False,False,False,False,False,False,True,False,False,False
1,1,2.1,25,Negative,Low,No,Out of Stock,2,Correct,False,...,False,False,True,False,False,False,False,False,True,False
2,2,4.5,54,Neutral,Low,No,Out of Stock,3,Correct,True,...,False,False,False,False,False,False,True,False,False,False
3,2,2.6,22,Neutral,Low,Yes,In Stock,1,Incorrect,False,...,False,False,False,False,False,False,True,False,False,False
4,1,3.6,34,Positive,High,No,In Stock,2,Incorrect,False,...,False,False,False,False,True,False,False,False,False,True

In [129]:
data['Order Accuracy'] = data['Order Accuracy'].map({"Incorrect": 0, "Correct": 1})

In [130]:
data.head()

,Agent Name,Rating,Delivery Time (min),Customer Feedback Type,Price Range,Discount Applied,Product Availability,Customer Service Rating,Order Accuracy,Location_Ahmedabad,...,Location_Jaipur,Location_Kolkata,Location_Lucknow,Location_Mumbai,Location_Pune,Order Type_Electronics,Order Type_Essentials,Order Type_Food,Order Type_Grocery,Order Type_Pharmacy
0,1,4.5,58,Neutral,High,Yes,Out of Stock,4,0,False,...,False,False,False,False,False,False,True,False,False,False
1,1,2.1,25,Negative,Low,No,Out of Stock,2,1,False,...,False,False,True,False,False,False,False,False,True,False
2,2,4.5,54,Neutral,Low,No,Out of Stock,3,1,True,...,False,False,False,False,False,False,True,False,False,False
3,2,2.6,22,Neutral,Low,Yes,In Stock,1,0,False,...,False,False,False,False,False,False,True,False,False,False
4,1,3.6,34,Positive,High,No,In Stock,2,0,False,...,False,False,False,False,True,False,False,False,False,True

In [131]:
data['Customer Feedback Type'] = data['Customer Feedback Type'].map({'Negative': 0, 'Neutral': 1, 'Positive': 2})
data['Product Availability'] = data['Product Availability'].map({'Out of Stock': 0,'In Stock': 1})
data['Discount Applied'] = data['Discount Applied'].map({'Yes': 1 ,'No': 0})
data['Price Range'] = data['Price Range'].map({'High': 1 ,'Low': 0})

In [132]:
data.head()

,Agent Name,Rating,Delivery Time (min),Customer Feedback Type,Price Range,Discount Applied,Product Availability,Customer Service Rating,Order Accuracy,Location_Ahmedabad,...,Location_Jaipur,Location_Kolkata,Location_Lucknow,Location_Mumbai,Location_Pune,Order Type_Electronics,Order Type_Essentials,Order Type_Food,Order Type_Grocery,Order Type_Pharmacy
0,1,4.5,58,1,1.0,1,0,4,0,False,...,False,False,False,False,False,False,True,False,False,False
1,1,2.1,25,0,0.0,0,0,2,1,False,...,False,False,True,False,False,False,False,False,True,False
2,2,4.5,54,1,0.0,0,0,3,1,True,...,False,False,False,False,False,False,True,False,False,False
3,2,2.6,22,1,0.0,1,1,1,0,False,...,False,False,False,False,False,False,True,False,False,False
4,1,3.6,34,2,1.0,0,1,2,0,False,...,False,False,False,False,True,False,False,False,False,True

In [ ]:
data.dtypes  # Checking wheter all the datatypes are in the required format or not

Agent Name                   int64
Rating                     float64
Delivery Time (min)          int64
Customer Feedback Type       int64
Price Range                float64
Discount Applied             int64
Product Availability         int64
Customer Service Rating      int64
Order Accuracy               int64
Location_Ahmedabad            bool
Location_Bangalore            bool
Location_Chennai              bool
Location_Delhi                bool
Location_Hyderabad            bool
Location_Jaipur               bool
Location_Kolkata              bool
Location_Lucknow              bool
Location_Mumbai               bool
Location_Pune                 bool
Order Type_Electronics        bool
Order Type_Essentials         bool
Order Type_Food               bool
Order Type_Grocery            bool
Order Type_Pharmacy           bool
dtype: object