In [103]:
# Implementing neural netwrok from scratch without libraries 
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt
import keras
from keras.datasets import mnist

In [104]:
(x_train, y_train), (x_test, y_test) = mnist.load_data()
type(x_train)

numpy.ndarray

In [105]:
x_train_flat = x_train.reshape(x_train.shape[0], -1)

In [106]:
data = pd.DataFrame(x_train_flat)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [107]:
data.columns = [f'pixel_{i}' for i in range(784)] 

data['label'] =y_train

In [108]:
print(data.columns[-5:]) # Checking with the columns

Index(['pixel_780', 'pixel_781', 'pixel_782', 'pixel_783', 'label'], dtype='object')

In [109]:
print(len(data.columns))

785

In [110]:
y_train

array([5, 0, 4, ..., 5, 6, 8], dtype=uint8)

pixel_0      uint8
pixel_1      uint8
pixel_2      uint8
pixel_3      uint8
pixel_4      uint8
             ...
pixel_780    uint8
pixel_781    uint8
pixel_782    uint8
pixel_783    uint8
label        uint8
Length: 785, dtype: object